* {
/*	border: 1px solid grey;*/
}

body {
	background: #F0F0F0;
}

p {
	color: #3D3D3D;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 48px;
    z-index: 10;
    background-color: white;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.row {
    position: fixed;
    top: 5px;
    left: 100px;
    width: 80%;
    z-index: 11
}
.col-lg-6 {
	width:100% !important;
}


.btn {
	border-radius: 6px;
}

.btn:focus,.btn:active {
   outline: none !important;
   color: #828282;
}

.btn-default{
	font-size: 10px;
	color: #828282;
}

#right {
	float:left;
}

#logo {
	height:20px;	
}

.form-control {
	background-color: #F0F0F0;
	width: 70% !important;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
	outline: 0px; 
	box-shadow: none;
}


#content {
	margin: 0 auto;

}


.wrapper {
	position: relative;
	display: inline-block;
	margin: 0px auto;
}

.pinsWrapper {
	position: relative;
	display: inline-block;
	margin: 70px auto;
}


.pin {
	width: 236px;
	margin-bottom: 15px;
	background: #FEFEFE;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	border-radius: 6px;


}

.pin > img {
	width: 236px;
	padding-bottom: 5px;
	border-radius: 6px;
}



.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0px;
	display: inline-block;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: normal;
	line-break: strict;
	overflow:hidden;
	max-width: 220px;
	padding: 3px 8px 0px 8px;

}

.info {
	
}

.pinInfo {

}

.description {

}

.pinStats {

}

.pinStats img {
	width: 17px;
	padding-bottom: 11px
}
.pinStats p {
	color: lightgrey;
	font-size: 11px
}

.pinRepins {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}


.pinLikes {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.userBoardInfo {
	border-top: 1px solid #DEDCDC;
	height: 50px;
	padding-top: 8px;
	margin-bottom: 8px;
}

.userPic {
	display:inline-block;
	float:left;
	width: 50px;
	height: 30px;

}

.userPic img{
	float: left;
	width: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	overflow: hidden;
	margin: 5px 0px 5px 15px;
}

.pinner {
	height: 20px;
}

.pinner p {
	font-weight: 900;
}

.board {
	height: 20px;

}

.board p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 70%;
}

